.shopping-btn {
    
}

.shopping-btn > * {
    float: left;
    padding: 0 1rem;
}

.cart-summary {
    
  }

  .cart-summary-list {
    width: 100%;
    padding-top: 1rem;
    color: var(--mainDark);
  }

  .cart-summary-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .cart-product-details > * {
      text-align: left;
  }

  .cart-product-quantity > input {
    width: 3rem;
  }

  .cart-summary-item > * {
    height: auto;
    /*width: 25%;*/
    text-align: center;
  }

  .cart-summary-item > img {
    width: 25%;
  }

  .cart-summary-item > i {
    font-size: 1.5rem;
  }

.checkout-btn {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
}