.limited-intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "title title thumbnail thumbnail thumbnail"
        "details details thumbnail thumbnail thumbnail"
}

.limited-intro-thumbnail {
    grid-area: thumbnail;
}

.limited-intro-thumbnail > img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.limited-intro-title {
    grid-area: title;
}

.limited-intro-description {
    grid-area: details;
}