.product-intro {
    width: 100vw;
}

.product-intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    grid-gap: 2rem 2rem;
}

.product-card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.product-card {
    position: relative;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    background-color: var(--mainWhite);
}
.product-card:hover > img {
    opacity: 0.3;
}

.product-card > img {
    height: calc(100% - 5rem);
    width: 100%;
    object-fit: cover;
}

.product-card > .product-details {
    height: 5rem;
    text-align: center;
}

.product-card > i {
    font-size: 1.75rem;
    color: var(--mainDark);
    position: absolute;
    bottom:1.5rem;
    right: 1.5rem;
}

.product-card > i:hover {
    color: var(--darkHighlight);
}

.product-intro-title {
    grid-area: title;
}
